# Dependencies
node_modules
.idea/
.yarn/

# Secrets
.env


# Typescript
dist
tsconfig.tsbuildinfo

# Logs
yarn-debug.log*
yarn-error.log*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Npm
.npmrc

# Hardhat
artifacts
cache

# Tenderly
tenderly.yaml

# Script files
test*.ts

# OpenZeppelin
unknown-*
.idea/
